
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Read?</th>
      <th>Read Date</th>
    </tr>
  </thead>
  <tbody>
  {{#each books}}
    <tr>
      <td>{{title}}</td>
      <td>{{author_name}}</td>
      <td>{{genre}}</td>
      <td></td>
      <td></td>
    </tr>
  {{/each}}
  </tbody>
</table>