<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-light bg-faded">
        <ul class="nav navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/booklist">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/booklist">All Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/booklist/to-read">Books to Read</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/booklist/finished">Finished Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/booklist/add-book">Add a Book</a>
          </li>
          
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link">Welcome {{userName}}</a>
          </li>
        </ul>
        <a href="/" type="button" class="btn btn-default navbar-btn pull-right">Log Out</a>
      </nav>
      <h2 id="bookListTitle" class="jumbotron">The Booklist App</h2>
      <div class="row">
        <div class="col-md-4">
          <a href="/booklist/add-book" type="button" class="btn btn-lg btn-block btn-success add-book">Add A Book</a>
          <img src="img/books.png" class="img-responsive" alt="books">
        </div>
        <div class="col-md-8">
          <div class="bookListContents">
          {{{body}}}
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!--Include your Books List class definitions in a new script tag below -->
    <script type="text/javascript" src="js/render.js"></script>
  </body>
</html>
