
<form action="/" method="post" class= "col-md-8 col-md-offset-2">
  <h3>Log In</h3>
  <fieldset class="form-group">
    <label for="user-name">User Name</label>
    <input type="text" name="userName" class="form-control" id="user-name" placeholder="Enter User Name">
  </fieldset>
  <fieldset class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="Enter Password">
  </fieldset>
  <input type="submit" class="btn btn-primary" value="Log In"></input>
</form>